@import '~shared/styles/colors';

.home-container {

    display: flex;
    flex-direction: row;
    align-self:center;
    justify-content: space-between;
    margin-top:32px;
    .__card-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .__welcome-container{
        margin-left:16px;
        padding:8px;
        background:rgba(192, 192, 192, 0.15);
        width:50%;
        border: 1px solid #e2e2e2;
        h3{
            color:$med-light-blue;
        }
    }
}