@import '~shared/styles/colors';

.ffs-textfield {
    position: relative;
    margin-top: 16px;

    .__label {
        position: absolute;
        left: 4px;
        top: 4px;
        font-size: 16px;
        transition: all .1s ease-in;
        color: $med-dark-gray;
        pointer-events: none;

        &.--float {
            top: -16px;
            font-size: 14px;
            transition: all .1s ease-out;
        }
    }

    .__input-field {
        font-size: 16px;
    }
}